In [12]:
import pandas as pd 
pd.set_option('display.max_columns', 600)
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns

from sklearn.model_selection import train_test_split

In [13]:
df = pd.read_csv("/Users/jsc/Documents/Personal/Dev/ML Projects/Developer Salary /data/survey_results_public.csv")

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89184 entries, 0 to 89183
Data columns (total 84 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ResponseId                           89184 non-null  int64
 1   Q120                                 89184 non-null  object
 2   MainBranch                           89184 non-null  object
 3   Age                                  89184 non-null  object
 4   Employment                           87898 non-null  object
 5   RemoteWork                           73810 non-null  object
 6   CodingActivities                     73764 non-null  object
 7   EdLevel                              87973 non-null  object
 8   LearnCode                            87663 non-null  object
 9   LearnCodeOnline                      70084 non-null  object
 10  LearnCodeCoursesCert                 37076 non-null  object
 11  YearsCode                            87435 non-null  object
 12  YearsCodePro                         66136 non-null  object
 13  DevType                              76872 non-null  object
 14  OrgSize                              65043 non-null  object
 15  PurchaseInfluence                    64964 non-null  object
 16  TechList                             60851 non-null  object
 17  BuyNewTool                           83009 non-null  object
 18  Country                              87973 non-null  object
 19  Currency                             65334 non-null  object
 20  CompTotal                            48225 non-null  float64
 21  LanguageHaveWorkedWith               87140 non-null  object
 22  LanguageWantToWorkWith               80709 non-null  object
 23  DatabaseHaveWorkedWith               73435 non-null  object
 24  DatabaseWantToWorkWith               60911 non-null  object
 25  PlatformHaveWorkedWith               63628 non-null  object
 26  PlatformWantToWorkWith               51308 non-null  object
 27  WebframeHaveWorkedWith               66938 non-null  object
 28  WebframeWantToWorkWith               56741 non-null  object
 29  MiscTechHaveWorkedWith               57019 non-null  object
 30  MiscTechWantToWorkWith               46848 non-null  object
 31  ToolsTechHaveWorkedWith              77884 non-null  object
 32  ToolsTechWantToWorkWith              68315 non-null  object
 33  NEWCollabToolsHaveWorkedWith         85864 non-null  object
 34  NEWCollabToolsWantToWorkWith         76649 non-null  object
 35  OpSysPersonal use                    86557 non-null  object
 36  OpSysProfessional use                78587 non-null  object
 37  OfficeStackAsyncHaveWorkedWith       69090 non-null  object
 38  OfficeStackAsyncWantToWorkWith       53743 non-null  object
 39  OfficeStackSyncHaveWorkedWith        83439 non-null  object
 40  OfficeStackSyncWantToWorkWith        69776 non-null  object
 41  AISearchHaveWorkedWith               56328 non-null  object
 42  AISearchWantToWorkWith               46150 non-null  object
 43  AIDevHaveWorkedWith                  25904 non-null  object
 44  AIDevWantToWorkWith                  19587 non-null  object
 45  NEWSOSites                           87973 non-null  object
 46  SOVisitFreq                          87140 non-null  object
 47  SOAccount                            87852 non-null  object
 48  SOPartFreq                           66061 non-null  object
 49  SOComm                               87692 non-null  object
 50  SOAI                                 47858 non-null  object
 51  AISelect                             87973 non-null  object
 52  AISent                               61501 non-null  object
 53  AIAcc                                38594 non-null  object
 54  AIBen                                61396 non-null  object
 55  AIToolInterested in Using            32783 non-null  object
 56  AIToolCurrently Using                36137 non-null  object
 57  AIToolNot interested in Using        21069 non-null  object
 58  AINextVery different                 12661 non-null  object
 59  AINextNeither different nor similar  6599 non-null   object
 60  AINextSomewhat similar               6238 non-null   object
 61  AINextVery similar                   2621 non-null   object
 62  AINextSomewhat different             23303 non-null  object
 63  TBranch                              65768 non-null  object
 64  ICorPM                               43668 non-null  object
 65  WorkExp                              43579 non-null  float64
 66  Knowledge_1                          42535 non-null  object
 67  Knowledge_2                          41670 non-null  object
 68  Knowledge_3                          41798 non-null  object
 69  Knowledge_4                          41684 non-null  object
 70  Knowledge_5                          41527 non-null  object
 71  Knowledge_6                          41520 non-null  object
 72  Knowledge_7                          41467 non-null  object
 73  Knowledge_8                          41404 non-null  object
 74  Frequency_1                          41916 non-null  object
 75  Frequency_2                          41925 non-null  object
 76  Frequency_3                          41054 non-null  object
 77  TimeSearching                        42778 non-null  object
 78  TimeAnswering                        42629 non-null  object
 79  ProfessionalTech                     41783 non-null  object
 80  Industry                             36774 non-null  object
 81  SurveyLength                         86485 non-null  object
 82  SurveyEase                           86554 non-null  object
 83  ConvertedCompYearly                  48019 non-null  float64
dtypes: float64(3), int64(1), object(80)
memory usage: 57.2+ MB

In [20]:
df['Currency'].value_counts()

Currency
EUR European Euro                               17651
USD\tUnited States dollar                       16729
GBP\tPound sterling                              4473
INR\tIndian rupee                                3615
CAD\tCanadian dollar                             2647
PLN\tPolish zloty                                1606
AUD\tAustralian dollar                           1594
BRL\tBrazilian real                              1475
SEK\tSwedish krona                               1324
CHF\tSwiss franc                                  889
ILS\tIsraeli new shekel                           695
DKK\tDanish krone                                 677
RUB\tRussian ruble                                674
CZK\tCzech koruna                                 672
NOK\tNorwegian krone                              580
NZD\tNew Zealand dollar                           531
TRY\tTurkish lira                                 525
RON\tRomanian leu                                 468
ZAR\tSouth African rand                           436
UAH\tUkrainian hryvnia                            408
HUF\tHungarian forint                             393
CNY\tChinese Yuan Renminbi                        388
MXN\tMexican peso                                 383
PKR\tPakistani rupee                              360
IRR\tIranian rial                                 344
BGN\tBulgarian lev                                339
BDT\tBangladeshi taka                             279
JPY\tJapanese yen                                 279
COP\tColombian peso                               273
IDR\tIndonesian rupiah                            272
ARS\tArgentine peso                               261
PHP\tPhilippine peso                              209
SGD\tSingapore dollar                             207
RSD\tSerbian dinar                                193
VND\tVietnamese dong                              191
KRW\tSouth Korean won                             185
MYR\tMalaysian ringgit                            182
AED United Arab Emirates dirham                   165
TWD\tNew Taiwan dollar                            160
CLP\tChilean peso                                 159
NGN\tNigerian naira                               153
HKD\tHong Kong dollar                             137
LKR\tSri Lankan rupee                             126
THB\tThai baht                                    123
EGP\tEgyptian pound                               121
KES\tKenyan shilling                              108
NPR\tNepalese rupee                                98
AMD\tArmenian dram                                 83
GEL\tGeorgian lari                                 71
MAD\tMoroccan dirham                               67
SAR\tSaudi Arabian riyal                           66
PEN\tPeruvian sol                                  64
UYU\tUruguayan peso                                61
BAM\tBosnia and Herzegovina convertible mark       60
TND\tTunisian dinar                                46
JOD\tJordanian dinar                               45
BYN\tBelarusian ruble                              43
ISK\tIcelandic krona                               43
KZT\tKazakhstani tenge                             42
DOP\tDominican peso                                37
ETB\tEthiopian birr                                36
ALL\tAlbanian lek                                  34
GHS\tGhanaian cedi                                 31
XOF\tWest African CFA franc                        31
UGX\tUgandan shilling                              30
CRC\tCosta Rican colon                             30
UZS\tUzbekistani som                               30
MKD\tMacedonian denar                              29
AZN\tAzerbaijan manat                              28
GTQ\tGuatemalan quetzal                            28
DZD\tAlgerian dinar                                27
MDL\tMoldovan leu                                  26
AFN\tAfghan afghani                                25
MMK\tMyanmar kyat                                  23
PYG\tParaguayan guarani                            22
IQD\tIraqi dinar                                   22
TZS\tTanzanian shilling                            22
ZMW Zambian kwacha                                 20
MUR\tMauritian rupee                               20
BOB\tBolivian boliviano                            18
MNT\tMongolian tugrik                              17
LBP\tLebanese pound                                13
QAR\tQatari riyal                                  12
SYP\tSyrian pound                                  12
XAF\tCentral African CFA franc                     11
MGA\tMalagasy ariary                               11
KWD\tKuwaiti dinar                                 11
RWF\tRwandan franc                                 10
KGS\tKyrgyzstani som                               10
HNL\tHonduran lempira                              10
JMD\tJamaican dollar                               10
TTD\tTrinidad and Tobago dollar                    10
BHD\tBahraini dinar                                 9
CUP\tCuban peso                                     9
ANG Netherlands Antillean guilder                   8
AWG\tAruban florin                                  8
NIO\tNicaraguan cordoba                             8
YER\tYemeni rial                                    8
VES\tVenezuelan bolivar                             7
MVR\tMaldivian rufiyaa                              7
MWK\tMalawian kwacha                                6
AOA\tAngolan kwanza                                 6
MZN\tMozambican metical                             5
FJD\tFijian dollar                                  5
OMR\tOmani rial                                     5
BIF\tBurundi franc                                  4
LYD\tLibyan dinar                                   4
BTN\tBhutanese ngultrum                             4
LAK\tLao kip                                        4
BND\tBrunei dollar                                  4
MRU\tMauritanian ouguiya                            3
IMP\tManx pound                                     3
SZL\tSwazi lilangeni                                3
BZD\tBelize dollar                                  3
NAD\tNamibian dollar                                3
TJS\tTajikistani somoni                             3
KHR\tCambodian riel                                 3
SLL\tSierra Leonean leone                           3
SRD\tSurinamese dollar                              3
XPF\tCFP franc                                      3
none\tFaroese krona                                 2
BBD\tBarbadian dollar                               2
BWP\tBotswana pula                                  2
LSL\tLesotho loti                                   2
XCD\tEast Caribbean dollar                          2
SOS\tSomali shilling                                2
HRK\tCroatian kuna                                  2
CDF\tCongolese franc                                2
GYD\tGuyanese dollar                                2
FKP\tFalkland Islands pound                         2
ERN\tEritrean nakfa                                 2
BMD\tBermudian dollar                               2
GIP\tGibraltar pound                                2
TMT\tTurkmen manat                                  2
TOP\tTongan pa’anga                                 2
KYD\tCayman Islands dollar                          1
MOP\tMacanese pataca                                1
DJF\tDjiboutian franc                               1
LRD\tLiberian dollar                                1
SDG\tSudanese pound                                 1
JEP\tJersey pound                                   1
KMF\tComorian franc                                 1
CVE\tCape Verdean escudo                            1
SSP\tSouth Sudanese pound                           1
Name: count, dtype: int64

In [28]:
df[['CompTotal', 'Currency']].head(10)

   CompTotal                   Currency
0        NaN                        NaN
1   285000.0  USD\tUnited States dollar
2   250000.0  USD\tUnited States dollar
3   156000.0  USD\tUnited States dollar
4  1320000.0       PHP\tPhilippine peso
5    78000.0        GBP\tPound sterling
6   135000.0  USD\tUnited States dollar
7    80000.0  USD\tUnited States dollar
8    60000.0          EUR European Euro
9        NaN                        NaN

In [29]:
df['CompTotal'].isnull().sum()

np.int64(40959)

In [30]:
df = df[df['CompTotal'].notnull()]